.env
*.key
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
vectorstore/
data/raw/
logs/
*.db
*.faiss
.peraturan.go.id/
evaluation/generation_outputs*.json
evaluation/evaluation_results*.csv
evaluation/retrieval_results.json